<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../signup.css">
    <title>HOME</title>
</head>
<body>
    <header id="header" class="glow"> 
        <h1 class="title">Sign Up</h1>
        <a href="/" id="login-sing_up">Home</a>
        <h3 class="tiny-headers">What Are Your Favorite Movies?</h3>
      </header>
</body>
</html>
        <div class="container">
           <form class="form-signin" action="/signup" method="post">
             <h2 class="yella">Please, sign in</h2>
             <label  for="inputName">Username</label>
             <input type="text" id="username" name="name" class="yella"
              placeholder="username" required="true">
             <label for="inputPassword">Password</label>
             <input type="password" id="password" name="password" 
                placeholder="Password" required="true">
             <button id ="button" 
               type="submit">Sign in</button> 
              <br> 
              <p>Don't have an account? <a class="red" href="/register">Signup</a>
                  </p>
            </form>
          </div>
        </body>
        </html>