<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>EDIT COMMENT PAGE</h1>
        <!-- Add action and method attributes to form tag -->
        <!-- Make sure the action uses the _method query parameter that method-override is looking for -->
        <form action="/comments/<%= index %>?_method=PUT" method="POST">
           
        </form>
    </body>
</html>