<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/add.css">

    

    <title>New Comment Page</title>
</head>
<body>
    <div>
        <form action="/comments" method="POST">
            <input type="text" name="name" placeholder="Comment">
            
            <select name="titles">
                <option value="" disabled selected>Select a Movie</option>
               <% movies.forEach( movie => { %>

                <option value="<%= movie._id%>">
                    <%= movie.title %>
                </option>
          <% }); %>
            </select><br><br>
            <h3 class="info">Actor Photos</h3>
           
            <input type="text" name="imgUrl"  placeholder="URL's ONLY"><br><br>
        <input type="submit" value="Submit"><br><br>
        <a class="a" id="class-a" href='/actors'>Go Back</a>
        </form><br>


    </div>
    
</body>
</html>