<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css">
    <title>HOME</title>
</head>
<body>
    <header id="header" class="glow">
        <i class="fa-solid fa-video"></i> 
        <h1 class="title">Mitch's TOP 10 Movies</h1>
        <% if (user) { %>
        <h3 class="tiny-headers">What's your favorite,<%= user.username %>?</h3>
        <% } else { %>
        <a href="/user/sign-up-in" id="login-sing_up">login/sing up</a>   
      </header>
      <div>
          <a href="movie/movie" id="movie-show">visit movie page</a>
      </div>
</body>
</html>