<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css">
    <title>HOME</title>
</head>
<body>
    <header id="header" class="glow"> 
        <h1 class="title">Mitch's TOP 10 Movies</h1>
        
        <a href="/user/sign-up-in" id="login-sing_up">login/sing up</a> 
        <h3 class="tiny-headers">What are your favorites?</h3>
          
      </header>
      <div>
          <a href="movie/movie" id="movie-page">visit movie page</a>
          <a href="/newComment" id="movie-page">Make a comment</a>
      </div>
      <ol class="list-items">
          <li>Apocalypse Now!<a href="/comments">comments</a></li>
          <li>Goodfellas<a href="/comments">comments</a></li>
          <li>Mannequin<a href="/comments">comments</a></li>
          <li>Shawshank Redemption<a href="/comments">comments</a></li>
          <li>The Godfather<a href="/comments">comments</a></li>
          <li>The Goonies<a href="/comments">comments</a></li>
          <li>The Matrix<a href="/comments">comments</a></li>
          <li>The Wizard of Oz<a href="/comments">comments</a></li>
          <li>Weird Science<a href="/comments">comments</a></li>
          <li>While You Were Sleeping<a href="/comments">comments</a></li>

      </ol>
</body>
</html>