<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css">
    <title>HOME</title>
</head>
<body>
    <header id="header" class="glow"> 
        <h1 class="title">Mitch's TOP 10 Movies</h1>
        <div id="welcome">
            <h4>Welcome to the Top 10!!</h4>
            <% if (user) { %>
              <h4><%= user.username %></h4>
                <% } else { %> 
              <a id="log-sin" href="/login" id="login-sing_up">login/sing up</a>   
            <% } %>
            <div id="log-mov">
                <form action="/logout?_method=DELETE" method="POST">
                <input type="submit" value="LOGOUT">
                </form>
              
              <a id="mov-tag" href="movie" id="movie-page">visit movie page</a>
            </div>
          </div>
        </header>
          
      </header>
      
      <ol class="list-items">
          <li>Apocalypse Now!
          <li>Goodfellas
          <li>Mannequin
          <li>Shawshank Redemption
          <li>The Godfather
          <li>The Goonies
          <li>The Matrix
          <li>The Wizard of Oz
          <li>Weird Science
          <li>While You Were Sleeping

      </ol>
</body>
</html>