body {
    background-color: #003566;
    color: #ffc300;
}



#poster {
    max-height: 735px;
    max-width: 428px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -25%;
}

.li {
    color: whitesmoke;
}

#back-btn {
    color:#ffc300;
    font-size: x-large;
}