body {
    background-color: #001d3d;
}

.glow {
    color: black;
    text-shadow:
        0 0 2px black,
        0 0 6px silver,
        0 0 7px silver,
        0 0 8px #ffc300,
        0 0 11px #ffc300,
        0 0 27px #ffc300,
        0 0 30px#ffc300,
        0 0 51px #ffc300;
  }

  #header {

    border-radius: 7px;
    font-family: "Vibur", sans-serif;
    background-color: #003566;
    color: #ffc300;
    width: 100%;
    height: 80%;
    font-size: 30px;
}

.title {
    font-family: "Vibur", sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#signup-login  {
    
    width: 450px;
    height: 450px;
    border-radius: 7px;
    background-color: #dc562e;
    margin-right: -40;
    margin-top: 5%;
    padding: 5px;
}

.tiny-headers {
    font-family: "Vibur", sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-left: 30%;
}

#login-sing_up {
    color: #ffc300;
    text-shadow:
        0 0 2px black,
        0 0 6px silver,
        0 0 7px silver,
        0 0 8px #ffc300,
        0 0 11px #ffc300,
        0 0 27px #ffc300,
        0 0 30px#ffc300,
        0 0 51px #ffc300;
    margin-left: 83%;
    font-size: smaller;
  }

  #movie-list {
      background-color: #dc562e;
}

h3 {
    margin-left: 45%;
}

.yella {
    color: #ffc300;
}

.container {
    color: #ffc300;
}

.red {
    color: whitesmoke;
}

#username {
    color: black;
}

#password {
    color: black;
}

#button {
    background-color:  #ffc300;
    border-radius: 5px;
    height: 30px;
}


