<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Movies show page</h1>
       <a href="/">Home</a>
       <a href="/comment/newComment" id="login-sing_up">New Comment</a>
       
         
    </body>
</html>